body {
  font-family: 'Ubuntu Mono', monospace;
  color: whitesmoke;
}
h1 {
  color: #000;
  text-align: center;
}
main {
  border: 1px solid black;
  background-color: black;
  width: 80%;
  min-width: 650px;
  padding: 0 16px 20px 16px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin: 0 auto;
}
input {
  display: block;
  margin: .4em;
  background-color: black;
  border: none;
  border-bottom: 1px solid white;
  color: #fff;
  font-family: 'Ubuntu Mono', monospace;
}
ul {
  padding: 0;
  text-align: center;
}
li {
  list-style: none;
  display: inline-block;
  padding: 1em 2em;
}
span {
  color: #77d85f;
  font-size: 1.1em;
}
.terminal {
  text-align: center;
  padding-top: 3px;
  height: 20px;
  background-color: #4f4f4f;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-left: -16px;
  padding-right: 32px;
}
.btn {
  float: left;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  margin: 0 .25em;
  color: #4f4f4f;
}
#close {
  background-color: #d8675f;
  line-height: 85%;
}
#small {
  background-color: #f9f57f;
    line-height: 60%;
}
#big {
  background-color: #77d85f;
  line-height: 95%;
  font-size: .8em;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #77d85f;
}
#button {
  border: 0;
  background-color: #77d85f;
  color: #4f4f4f;
  border-radius: 5px;
}
